
@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts:</h2>
<h4>Adress:</h4>
<span>Sofia, Bulgaria</span>
<h4>Phone:</h4>
<span>+359test</span>
<h4>E-mail:</h4>
<span>test@test.bg</span>
<h4>Map:</h4>
<div>
    <iframe width="550"
            height="300"
            frameborder="1" style="border:solid"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCW8jRhdEDTw_Pfw5zatuOocn2Abbo4rkk&q=Sofia+Bulgaria" allowfullscreen>
    </iframe>
</div>

