
@{
    ViewBag.Title = "Downloads";
}

<h2>All downloads:</h2>
<hr />
<h4>Useful information:</h4>
<a href="/Downloads/Info" class="btn btn-primary">Download</a>
<hr />
<h4>Summator v.1.0.0:</h4>
<div>Calculates the sum of two integers</div>
<a href="/Downloads/Summator" class="btn btn-primary">Download</a>
<hr />

