
@{
    ViewBag.Title = "Administration home";
}

<h2 class="inAdministration">Administration area - homepage:</h2>
<div>
    @Html.ActionLink("Manage users", "All", "Users", new { area = "Administration" }, new { @class = "btn btn-warning", role = "button" })
    @Html.ActionLink("Add new joke", "Create", "ManageJokes", new { area = "Administration" }, new { @class = "btn btn-warning", role = "button" })
</div>