@{
    ViewBag.Title = "Home";
}
<h2>Home Page:</h2>
<h4>TEST USERS:</h4>
<div>NORMAL USERS: username and password are the same - <strong>user@user.com</strong>, <strong>abuser@abuser.com</strong></div>
<div>can create posts, comments, suggestions, votes for suggestions</div>
<br />
<div>ADMINISTRATOR: username and password are the same - <strong>admin@admin.com</strong></div>
<div>can do everything a normal user can; can delete posts, suggestions, jokes; can add new jokes; can edit normal users' profiles and make them administrators; can activate Glimpse for website diagnostics</div>
