@{
    ViewBag.Title = "Index";
}
<h2>Home Page</h2>
<h4>TEST USERS:</h4>
<div>NORMAL USER: username and password are the same - <strong>user@user.com</strong></div>
<div>can create posts, comments, suggestions, votes for suggestions</div>
<br />
<div>ADMINISTRATOR: username and password are the same - <strong>admin@admin.com</strong></div>
<div>can do everything a normal user can; can delete posts, suggestions; can activate Glimpse for website diagnostics</div>
<h4>TO BE ADDED:</h4>
<div>Admin's ability to manage normal users and add other admin users</div>
<div>Paging of forum posts</div>
<div>More unit tests</div>
<div>More data validations</div>
<div>Code refactoring</div>
<div>Project's name change</div>
<div>Host the website</div>

