@model List<MvcTemplate.Web.Areas.Administration.ViewModels.Users.UserViewModel>
@{
    ViewBag.Title = "All";
}

<h2 class="inAdministration">All users:</h2>
<div class="row">
    @foreach (var user in Model)
    {
        <div class="col-md-2">
            @Html.ActionLink(user.UserName, "ById", "Users", new { area = "Administration", id = user.Id }, null)
        </div>
    }
</div>


